<!DOCTYPE html>
<html>

<head>
    <title>BIENVENIDO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estiloventana.css') }}">
</head>

<body>
    <div class="ventana">
        <h1 class="bustexto">Gestion de pollobus</h1>
        <div class="fondo">
            <button class="btn" id="btnregistrarruta">Ruta</button>
            <button class="btn" id="btnalumno">Autobus</button>
            <button class="btn" id="btnconducto">Alumnos</button>
            <button class="btn" id="btnatobus">Operadores</button>
        </div>
    </div>

    
</body>

</html>
